<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:annotation-config />

    <import resource="ctx-dal.xml" />
    <!--<import resource="ctx-sal.xml" />-->
    <!--<import resource="quartz-config.xml" />-->


    <context:component-scan base-package="com.gto.bang">
    </context:component-scan>

    <mvc:annotation-driven />
    <mvc:default-servlet-handler/>
    <!--<bean id="demoDao" class="com.gto.bang.dao.impl.DemoDaoImpl">-->
    <!--</bean>-->
    <!--<bean id="accountDao" class="com.gto.bang.dao.impl.AccountDaoImpl">-->
    <!--</bean>-->
    <!--<bean id="demoService" class="com.gto.bang.service.impl.DemoServiceImpl">-->
    <!--</bean>-->
    <!--<bean id="accountService" class="com.gto.bang.service.impl.AccountServiceImpl">-->
    <!--</bean>-->

    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="12" />
        <property name="maxPoolSize" value="128" />
        <property name="queueCapacity" value="102400" />
    </bean>
</beans>