<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property resource="conf/application-${spring.profiles.active}.yml"/>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5level] [%thread] [%file:%line] - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="errorRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/bangbang-logs/bangbang.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/bangbang-logs/bangbang.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5level] [%thread] [%file:%line] - %msg%n</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <appender name="debugRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/bangbang-logs/bangbang_debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/bangbang-logs/bangbang_debug.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5level] [%thread] [%file:%line] - %msg%n</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="debugRollingAppender" />
    </appender>

    <springProfile name="test,dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="errorRollingAppender" />
            <appender-ref ref="ASYNC" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="DEBUG">
            <appender-ref ref="errorRollingAppender" />
            <appender-ref ref="ASYNC" />
        </root>
    </springProfile>

</configuration>