<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gto.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.gto.bang.model.Operation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operationType" jdbcType="VARCHAR" property="operationType" />
    <result column="deviceId" jdbcType="VARCHAR" property="deviceId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operationType, deviceId, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gto.bang.model.Operation">
    insert into operation (id, operationType, deviceId, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{operationType,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gto.bang.model.Operation">
    insert into operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationType != null">
        operationType,
      </if>
      <if test="deviceId != null">
        deviceId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gto.bang.model.Operation">
    update operation
    <set>
      <if test="operationType != null">
        operationType = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        deviceId = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gto.bang.model.Operation">
    update operation
    set operationType = #{operationType,jdbcType=VARCHAR},
      deviceId = #{deviceId,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>