<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gto.bang.dao.PraiseMapper">
  <resultMap id="BaseResultMap" type="com.gto.bang.model.Praise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="commentId" jdbcType="INTEGER" property="commentId" />
    <result column="androidId" jdbcType="VARCHAR" property="androidId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, createTime, userId, commentId, androidId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from praise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from praise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gto.bang.model.Praise">
    insert into praise (id, userName, createTime, 
      userId, commentId, androidId
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{androidId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gto.bang.model.Praise">
    insert into praise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="commentId != null">
        commentId,
      </if>
      <if test="androidId != null">
        androidId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="androidId != null">
        #{androidId,jdbcType=VARCHAR},
      </if>
    </trim> ON DUPLICATE KEY UPDATE createTime=now()
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gto.bang.model.Praise">
    update praise
    <set>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        commentId = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="androidId != null">
        androidId = #{androidId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gto.bang.model.Praise">
    update praise
    set userName = #{userName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      userId = #{userId,jdbcType=INTEGER},
      commentId = #{commentId,jdbcType=INTEGER},
      androidId = #{androidId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>